1. Write a program to reverse a string.

In [1]:
str1 = "SaiKumar"
rev_str1 = str1[::-1]
print(rev_str1)

ramuKiaS

2. Check if a string is a palindrome.

In [5]:
str2 = "Radar"
if str2.lower() == str2[::-1].lower():
    print("Given String is a Palindrome")
else:
    print("Given String is not a Palindrome")

Given String is a Palindrome

3. Convert a string to uppercase.

In [6]:
str3 = "saikumar"
print(str3.upper())

SAIKUMAR

4. Convert a string to lowercase.

In [7]:
str4 ="SAIKUMAR"
print(str4.lower())

saikumar

5. Count the number of vowels in a string.

In [11]:
str5 = "SaiKumar"
str5 = str5.lower()
v1,v2,v3,v4,v5 = 'a','e','i','o','u'
Num_Vowels = str5.count(v1) + str5.count(v2) + str5.count(v3) + str5.count(v4) + str5.count(v5)
print(Num_Vowels)

4

6. Count the number of consonants in a string.

In [16]:
str6 = "SaiKumar"
str6 = str5.lower()
v1,v2,v3,v4,v5 = 'a','e','i','o','u'
Num_Vowels = str6.count(v1) + str6.count(v2) + str6.count(v3) + str6.count(v4) + str6.count(v5)
print(len(str6) - Num_Vowels)

4

7. Remove all whitespaces from a string.

In [27]:
str7 = "  s ai ku ma r  "
print(str7.replace(" ",""))

saikumar

8. Find the length of a string without using the `len()` function.

In [28]:
str8 = "saikumar"
print(len(str8))

8

9. Check if a string contains a specific word.

In [12]:
str9 = "SaiKumar"
str9.find('i')

2

10. Replace a word in a string with another word.

In [5]:
str10 = "SaiKumar"
rep_str = list(str10)
rep_str[0] = 'W'
print(rep_str)

['W', 'a', 'i', 'K', 'u', 'm', 'a', 'r']

11. Count the occurrences of a word in a string.

In [14]:
str11 = "I am Working"
str11 = str11.lower()
print(str11.count("working"))

1

12. Find the first occurrence of a word in a string.

In [15]:
str12 = "I am Working"
str12 = str11.lower()
print(str11.index("working"))

5

13. Find the last occurrence of a word in a string.

In [31]:
str13 = "both are both"
print(str13.rfind('both'))

9

14.Split a string into a list of words.

In [25]:
str14 = "This is Sai Kumar"
str14.split(sep=" ")

['This', 'is', 'Sai', 'Kumar']

15. Join a list of words into a string.

In [29]:
word_1 = "sai"
word_2 = "kumar"
print(word_1 + " " + word_2)

sai kumar

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [34]:
str16 = "This is Sai"
print(str16.replace(" ","_"))

This_is_Sai

17. Check if a string starts with a specific word or phrase.

In [41]:
str17 = "Sai also known as Lord Sky"
str17.startswith("Sai")

True

18. Check if a string ends with a specific word or phrase.

In [43]:
str18 = "Sai also known as Lord Sky"
str18.endswith("Sky")

True

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [44]:
str19 = "hello world"
str19.title()

'Hello World'

20. Find the longest word in a string.

In [58]:
str20 = "I am Sai Kumar"
str20 = str20.split(" ")
long_word =" "
max_len = 0
for i in str20:
    if len(i) > max_len:
        long_word = i
        max_len = len(i)
print(long_word)

Kumar

21. Find the shortest word in a string.

In [66]:
str21 = "I am Sai Kumar"
str21 = str21.split(" ")
short_word =" "
#min_length to positive infinity to keep track of the shortest word and its length found so far.
min_len = float('inf')
for i in str20:
    if len(i) < min_len:
        short_word = i
        min_len = len(i)
print(short_word)

I

22. Reverse the order of words in a string.

In [81]:
str22 = "I am learning Data Science"
words = str22.split()
rev_words = words[::-1]
rev_str = ' '.join(rev_words)
print(rev_str)

Science Data learning am I

23. Check if a string is alphanumeric.

In [82]:
str23 = "Sai138"
str23.isalnum()

True

24. Extract all digits from a string.

In [6]:
str24 = "sai138"
digits =''
for i in str24:
    if i.isdigit():
        digits = digits + i
print(digits)

138

25. Extract all alphabets from a string.

In [12]:
str25 = "sai138"
alpha =" "
for i in str24:
    if i.isalpha():
        alpha = alpha + i
print(alpha)

 sai

26. Count the number of uppercase letters in a string.

In [19]:
str26 = 'SaiKumar'
count = 0
for i in str26:
    if i.isupper():
        count = count + 1
print(count)

2

27. Count the number of lowercase letters in a string.

In [20]:
str27 = 'SaiKumar'
count = 0
for i in str26:
    if i.islower():
        count = count + 1
print(count)

6

28. Swap the case of each character in a string.

In [24]:
str28 = 'SaiKumar'
str28.swapcase()

'sAIkUMAR'

29. Remove a specific word from a string.

In [33]:
str29 = "I am Sai Kumar"
str29.removesuffix('Kumar')

'I am Sai '

30. Check if a string is a valid email address.

In [39]:
pip install email_validator

Collecting email_validator
  Downloading email_validator-2.0.0.post2-py3-none-any.whl (31 kB)
Collecting dnspython>=2.0.0
  Downloading dnspython-2.4.2-py3-none-any.whl (300 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 300.4/300.4 kB 27.9 MB/s eta 0:00:00
Requirement already satisfied: idna>=2.0.0 in /opt/conda/lib/python3.10/site-packages (from email_validator) (3.4)
Installing collected packages: dnspython, email_validator
Successfully installed dnspython-2.4.2 email_validator-2.0.0.post2
Note: you may need to restart the kernel to use updated packages.

In [45]:
from email_validator import validate_email

email = "maddiboinasai138@gmail.com"

is_valid = validate_email(email)
if is_valid:
    print("Valid email address")
else:
    print("Invalid")

Valid email address

31. Extract the username from an email address string.

In [54]:
email = "maddiboina.sai138@gmail.com"
INDEX = email.index('@')
user_name = email[0:INDEX]
print(user_name.replace('.',''))

maddiboinasai138

32. Extract the domain name from an email address string.

In [57]:
email = "maddiboina.sai138@gmail.com"
INDEX = email.index('@')
domain_name = email[INDEX+1::1]
print(domain_name)

gmail.com

33. Replace multiple spaces in a string with a single space.

In [82]:
str33='S  a i K u m   a r'
' '.join(str33.split())

'S a i K u m a r'

34. Check if a string is a valid URL.

In [84]:
pip install validators

Collecting validators
  Downloading validators-0.22.0-py3-none-any.whl (26 kB)
Installing collected packages: validators
Successfully installed validators-0.22.0
Note: you may need to restart the kernel to use updated packages.

In [86]:
import validators
validators.url("https://lab.pwskills.com/my-labs")

True

35. Extract the protocol (http or https) from a URL string.

In [93]:
from urllib.parse import urlparse

url_string = "https://lab.pwskills.com/my-labs"
protocol = urlparse(url_string).scheme
protocol

'https'

36. Find the frequency of each character in a string.

In [120]:
str36 = 'Hello World!'
for i in str36:
    frequency = str36.count(i)
    print(str(i) + ": " + str(frequency))

H: 1
e: 1
l: 3
l: 3
o: 2
 : 1
W: 1
o: 2
r: 1
l: 3
d: 1
!: 1

37. Remove all punctuation from a string.

In [124]:
import string

str37 = "Hi,Sai!How are you?"

str37 = str37.translate(str.maketrans('', '', string.punctuation))
print(str37)

HiSaiHow are you

38. Check if a string contains only digits.

In [125]:
str38 ='1234567890'
str38.isdigit()

True

39. Check if a string contains only alphabets.

In [128]:
str38 = 'sai'
str38.isalpha()

True

40. Convert a string to a list of characters.

In [129]:
str40 = 'saikumars'
list(str40)

['s', 'a', 'i', 'k', 'u', 'm', 'a', 'r', 's']

41. Check if two strings are anagrams.

In [2]:
str1 = 'Saikumar'
str2 ='Kumarsai'
str1 = str1.lower()
str2 = str2.lower()
if sorted(str1) == sorted(str2):
    print("Yes,anagrams")
else:
    print("Not")

Yes,anagrams

42. Encode a string using a Caesar cipher.

In [12]:
import string

def caesar_cipher(text, shift):
    alphabet = string.ascii_lowercase + string.ascii_uppercase
    shifted_alphabet = alphabet[shift:] + alphabet[:shift]
    translation_table = str.maketrans(alphabet, shifted_alphabet)
    
    return text.translate(translation_table)
text = "Hello, World!"
shift = 3
encoded_text = caesar_cipher(text, shift)
print(encoded_text)

Khoor, Zruog!

43. Decode a Caesar cipher encoded string.

In [14]:
def caesar_decipher(encoded_text, shift):
    decoded_text = caesar_cipher(encoded_text, -shift) #negative shift
    return decoded_text

encoded_text = "Khoor, Zruog!"
shift = 3
decoded_text = caesar_decipher(encoded_text, shift)
print(decoded_text)

Hello, World!

44. Find the most frequent word in a string.

In [20]:
from statistics import mode
test_list = ["I am Sai", "I am working", "I am Sudying"]

temp = [word for i in test_list for word in i.split()] #getting all words

res = mode(temp) #getting frequency

print("Word with maximum frequency : " + str(res))

Word with maximum frequency : I

45. Find all unique words in a string.

In [5]:
import re

def unique_words(string):
    #convert the string into lowercase as well as remove punctuation
    Modified_String = re.sub(r'[^\w\s]', '', string).lower()
    words = set(Modified_String.split()) #split into words
    return words
string = "My my name is is Sai!!"
print(unique_words(string))

{'is', 'sai', 'my', 'name'}

46. Count the number of syllables in a string.

In [13]:
import re

def count_syllables(word):
    
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

w1 = "sai"
w2 = "lordsky"
#count syllables
syllables1 = count_syllables(w1)
syllables2 = count_syllables(w2)
print(w1,":",syllables1,w2,":",syllables2)

sai : 1 lordsky : 2

47. Check if a string contains any special characters.

In [16]:
import re

def special_char(string):
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')
    match = pattern.search(string) #search to find a match
    return bool(match) #return true if it found match
special_char("I am Sai, @working in a company%#!!")

True

48. Remove the nth word from a string.

In [17]:
def remove_nth_word(string,n):
    words = string.split()
    if n >=1 and n<=len(string):
        nth_word = words.pop(n-1)
        remaining_string = ''.join(words)
        return nth_word,remaining_string
    else:
        return None, None
remove_nth_word("I am Sai kumar",3)

('Sai', 'Iamkumar')

49. Insert a word at the nth position in a string.

In [3]:
def insert_word_at_nth(string,insert_word,n):
    words = string.split()
    if n >=1 and n<=len(string):
        nth_word = words.insert(n-1,insert_word)
        remaining_string = ''.join(words)
        return nth_word,remaining_string
    else:
        return None, None
insert_word_at_nth("I am Sai kumar","sky",3)

(None, 'IamskySaikumar')

50. Convert a CSV string to a list of lists.

In [10]:
def csv_string_to_list(csv_string):
    lines = csv_string.split('\n')
    result = []
    
    for i in lines:
        words = i.split(',')
        result.append(words)
    return result
 
csv_string = "I am Sai\nI am Sky\nI am Lord"
csv_string_to_list(csv_string)

[['I am Sai'], ['I am Sky'], ['I am Lord']]

List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [1]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [19]:
list = [1,2,3,4,5,6,7,8]
length = 0
for i in list:
    length = length + 1
print(length)

8

3. Append an element to the end of a list.

In [21]:
list = [1,2,3,4,5,6,7,8]
list.append(9)
list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

4. Insert an element at a specific index in a list.

In [23]:
list = [1,2,3,4,5,6,7,8]
list.insert(0,0)
list

[0, 1, 2, 3, 4, 5, 6, 7, 8]

5. Remove an element from a list by its value.

In [25]:
list = [1,2,3,4,5,6,7,8]
list.remove(8)
list

[1, 2, 3, 4, 5, 6, 7]

6. Remove an element from a list by its index.

In [27]:
list = [1,2,3,4,5,6,7,8]
list.pop(5)
list

[1, 2, 3, 4, 5, 7, 8]

7. Check if an element exists in a list.

In [30]:
list = [1,2,3,4,5,6,7,8]
list.index(8)

7

8. Find the index of the first occurrence of an element in a list.

In [34]:
list = [1,2,3,4,5,6,4,7,8,4]
list.index(4)

3

9. Count the occurrences of an element in a list.

In [35]:
list = [1,2,3,4,5,6,4,7,8,4]
list.count(4)

3

10. Reverse the order of elements in a list.

In [37]:
list = [1,2,3,4,5,6,7,8]
list.reverse()
list

[8, 7, 6, 5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [39]:
list = [11,2,13,4,5,6,17,8]
list.sort()
list

[2, 4, 5, 6, 8, 11, 13, 17]

12. Sort a list in descending order.

In [41]:
list = [11,2,13,4,5,6,17,8]
list.sort(reverse = True)
list

[17, 13, 11, 8, 6, 5, 4, 2]

Create a list of even numbers from 1 to 20.

In [2]:
list(range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [3]:
list(range(1,21,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [4]:
list = [11,2,13,4,5,6,17,8]
sum(list)

66

16. Find the maximum value in a list.

In [5]:
list = [11,2,13,4,5,6,17,8]
max(list)

17

17. Find the minimum value in a list.

In [6]:
list = [11,2,13,4,5,6,17,8]
min(list)

2

18. Create a list of squares of numbers from 1 to 10.

In [33]:
list = [11,2,13,4,5,6,17,8]
sq_list = []
for i in list:
    sq_list.append(i**2)
print(sq_list)

[121, 4, 169, 16, 25, 36, 289, 64]

19. Create a list of random numbers.

In [49]:
import random

ran_list = []
for i in range(10):
    ran_list.append(random.randint(1,100))
print(ran_list)

[55, 29, 2, 97, 4, 31, 64, 54, 69, 46]

20. Remove duplicates from a list.

In [54]:
list = [1,1,2,2,3,4,5,5,6,7,5]
a = set(list)
b = []
for i in a:
    b.append(i)
print(b)

[1, 2, 3, 4, 5, 6, 7]

21. Find the common elements between two lists.

In [6]:
l1 = [1,2,3,4,5]
l2 = [1,2,3,7,8]
l3=[]
for i in range(len(l1)):
    if l1[i] == l2[i]:
        l3.append(l1[i])
print(l3)

[1, 2, 3]

22. Find the difference between two lists.

In [18]:
l1 = [1,2,3,4,5,2]
l2 = [1,2,3,7,8,1]

diff = list(set(l1).difference(l2))
diff

[4, 5]

23. Merge two lists.

In [15]:
l1 = [1,2,3,4,5,2]
l2 = [1,2,3,7,8,1]
l3 = l1 + l2
list(set(l3))

[1, 2, 3, 4, 5, 7, 8]

24. Multiply all elements in a list by 2.

In [22]:
l1 = [1,2,3,4,5,2]
l2=[]
for i in range(len(l1)):
    l2.append(l1[i]*2)
print(l2)

[2, 4, 6, 8, 10, 4]

25. Filter out all even numbers from a list.

In [24]:
l1 = [1,2,3,4,5,2,10,8,14,20]
even_list=[]
for i in range(len(l1)):
    if l1[i]%2 == 0:
        even_list.append(l1[i])
print(even_list)

[2, 4, 2, 10, 8, 14, 20]

26. Convert a list of strings to a list of integers.

In [30]:
list_ = ['1','2','3','4','5']

int_list = [int(i) for i in list_]

print(int_list)

[1, 2, 3, 4, 5]

27. Convert a list of integers to a list of strings.

In [28]:
list = [1,2,3,4,5,6,7,8,9,0]

str_list = [str(i) for i in list]
print(str_list)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '0']

28. Flatten a nested list.

In [2]:
list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
l = []

for i in list:
    for j in i:
        l.append(j)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

29. Create a list of the first 10 Fibonacci numbers.

In [8]:
x = 0
y = 1
print(x)
print(y)
for i in range(8):
    z = x+y
    x = y
    y = z
    print(z)

0
1
1
2
3
5
8
13
21
34

30. Check if a list is sorted.

In [9]:
list = [1,2,3,6,4,7,9]

if list == list.sort():
    print("sorted")
else:
    print("not sorted")

not sorted

31. Rotate a list to the left by `n` positions.

In [5]:
def rotate_left(lst, n):
    rotated = lst[n:] + lst[:n]
    return rotated
print(rotate_left([1,2,3,4,5],2))

[3, 4, 5, 1, 2]

32. Rotate a list to the right by `n` positions.

In [7]:
def rotate_right(lst, n):
    rotated = lst[-n:] + lst[:-n]
    return rotated
print(rotate_right([1,2,3,4,5],2))

[4, 5, 1, 2, 3]

33. Create a list of prime numbers up to 50.

In [1]:
import sympy

start = 2
end = 50

prime_numbers = sympy.primerange(start, end + 1)
print(list(prime_numbers))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [2]:
def chunk_list(lst, n):
    chunked_list = []
    for i in range(0, len(lst), n):
        chunk = lst[i:i + n]
        chunked_list.append(chunk)
    return chunked_list

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
chunk_size = 3

result = chunk_list(my_list, chunk_size)
print(result)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

35. Find the second largest number in a list.

In [4]:
def find_second_largest(lst):
    unique_sorted = sorted(set(lst))
    if len(unique_sorted) < 2:
        return "List has less than two unique elements"
    return unique_sorted[-2]

my_list = [100, 200, 300, 410, 250]
second_largest = find_second_largest(my_list)
print(second_largest)

300

36. Replace every element in a list with its square.

In [5]:
list = [2,4,6,8]
[x**2 for x in list]

[4, 16, 36, 64]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [15]:
list = ['sai','sky','lord']
dict_ = {key: value for value, key in enumerate(list)}
print(dict_)

{'sai': 0, 'sky': 1, 'lord': 2}

38. Shuffle the elements of a list randomly.

In [19]:
import random
my_list = [1,2,3,4,5,6]
random.shuffle(my_list)
print(my_list)

[3, 4, 6, 1, 5, 2]

39. Create a list of the first 10 factorial numbers.

In [23]:
import math

first_10_factorials = [math.factorial(n) for n in range(10)]

print(first_10_factorials)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [25]:
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]

if any(item in list1 for item in list2):
    print("The two lists have at least one common element.")
else:
    print("The two lists do not have any common elements.")

The two lists have at least one common element.

41. Remove all elements from a list.

In [29]:
lst = [1,2,3,4,5]
lst.clear()
lst

[]

42. Replace negative numbers in a list with 0.

In [34]:
lst = [1,2,-3,4,-5]

modified_list = [x if x >= 0 else 0 for x in lst]
modified_list

[1, 2, 0, 4, 0]

43. Convert a string into a list of words.

In [45]:
string = "This is sai"
print(string.split())

['This', 'is', 'sai']

44. Convert a list of words into a string.

In [52]:
words = ['I','WE','ARE','HUMANS']

string = ' '.join(words)
string

'I WE ARE HUMANS'

45. Create a list of the first `n` powers of 2.

In [57]:
n=3
list=[]
for i in range(0,n):
    list.append(2**i)
list

[1, 2, 4]

46. Find the longest string in a list of strings.

In [66]:
strings = ['sai','kumar','rama']

long_string = ' '
for i in strings:
    if len(i) > len(long_string):
        long_string = i
long_string

'kumar'

47. Find the shortest string in a list of strings.

In [68]:
strings = ['sai','kumar','rama','I']

short_string = strings[0]
for i in strings:
    if len(i) < len(short_string):
        short_string = i
short_string

'I'

48. Create a list of the first `n` triangular numbers.

In [1]:
def generate_triangular_numbers(n):
    triangular_numbers = []
    sum_natural_numbers = 0

    for i in range(1, n + 1):
        sum_natural_numbers += i
        triangular_numbers.append(sum_natural_numbers)

    return triangular_numbers

n = 10
triangular_numbers = generate_triangular_numbers(n)
print(triangular_numbers)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

49. Check if a list contains another list as a subsequence.

In [2]:
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
sub_list = [2, 4, 6]
is_subsequence = any(main_list[i:i+len(sub_list)] == sub_list for i in range(len(main_list)))
if is_subsequence:
    print("sub_list is a subsequence of main_list.")
else:
    print("sub_list is not a subsequence of main_list.")

sub_list is not a subsequence of main_list.

50. Swap two elements in a list by their indices.

In [3]:
list = [1,2,3,4,5,6]

Ind1 = 2
Ind2 = 4

temp = list[Ind1]

list[Ind1] = list[Ind2]

list[Ind2] = temp

list

[1, 2, 5, 4, 3, 6]

Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [3]:
Tuple = tuple(range(1,6))
Tuple

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [4]:
Tuple[2]

3

3. Find the length of a tuple without using the `len()` function.

In [9]:
t = (1,2,3,4,5)

for i in t:
    a = t.index(i)
print(a+1)

5

4. Count the occurrences of an element in a tuple.

In [10]:
t = (1,1,2,3,4,4,4,5)
t.count(4)

3

5. Find the index of the first occurrence of an element in a tuple.

In [11]:
t = (1,1,2,3,4,4,4,5)

t.index(4)

4

6. Check if an element exists in a tuple.

In [13]:
t = (1,1,2,3,4,4,4,5)

element = 5

if element in t:
    print("exists")
else:
    print("not exists")

exists

7. Convert a tuple to a list.

In [14]:
list(t)

[1, 1, 2, 3, 4, 4, 4, 5]

8. Convert a list to a tuple.

In [15]:
list = [1,2,3]
tuple(list)

(1, 2, 3)

9. Unpack the elements of a tuple into variables.

In [16]:
t = (1,2,3,4,5)
for i in t:
    print(i)

1
2
3
4
5

10. Create a tuple of even numbers from 1 to 10.

In [20]:
tuple(range(2,11,2))

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [21]:
tuple(range(1,11,2))

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [22]:
t1 =(1,2,3)
t2 =(4,5,6)
t1 + t2

(1, 2, 3, 4, 5, 6)

13. Repeat a tuple three times.

In [23]:
t1*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

14. Check if a tuple is empty.

In [29]:
empty_tuple = ()
non_empty_tuple = (1, 2, 3)
if not empty_tuple:
    print("The empty_tuple is empty.")
else:
    print("The empty_tuple is not empty.")
if not non_empty_tuple:
    print("The non_empty_tuple is empty.")
else:
    print("The non_empty_tuple is not empty.")

The empty_tuple is empty.
The non_empty_tuple is not empty.

15. Create a nested tuple.

In [36]:
t = ((1,2,3),(5,6,7))
t

((1, 2, 3), (5, 6, 7))

16. Access the first element of a nested tuple.

In [37]:
t = ((1,2,3),(5,6,7))
t[0]

(1, 2, 3)

17. Create a tuple with a single element.

In [39]:
t = (1,)
t

(1,)

18. Compare two tuples.

In [43]:
t1 = (1, 2, 3)
t2 = (6, 5, 4)

print(t1==t2)
print(t1!=t2)
print(t1<t2)
print(t1>t2)
print(t1>=t2)
print(t1<=t2)

False
True
True
False
False
True

19. Delete a tuple.

In [47]:
t = (1,2,3,4,5,6)
del t

20. Slice a tuple.

In [57]:
t = (1,2,3,4,5,6)
print(t[2])
print(t[2:5])
print(t[::-1])
print(t[1:5:-1])

3
(3, 4, 5)
(6, 5, 4, 3, 2, 1)
()

21. Find the maximum value in a tuple.

In [58]:
t = (1,2,3)
max(t)

3

22. Find the minimum value in a tuple.

In [61]:
t = (1,2,3)
min(t)

1

23. Convert a string to a tuple of characters.

In [64]:
string = "I am Sai"
char = tuple(string)
char

('I', ' ', 'a', 'm', ' ', 'S', 'a', 'i')

24. Convert a tuple of characters to a string.

In [66]:
''.join(char)

'I am Sai'

25. Create a tuple from multiple data types.

In [69]:
t = (1,2,"sai",True,12.34, 1+1j, [1,2,3])
t

(1, 2, 'sai', True, 12.34, (1+1j), [1, 2, 3])

26. Check if two tuples are identical.

In [71]:
t1 = (1,2,3)
t2 = (1,2,3)

t1 == t2

True

27. Sort the elements of a tuple.

In [6]:
t = (1,2,3,4,7,9,56,78)
l = list(t)
l.sort()
tuple(l)

(1, 2, 3, 4, 7, 9, 56, 78)

28. Convert a tuple of integers to a tuple of strings.

In [13]:
t = (1,2,3,4)
l = []
for i in t:
    l.append(str(i))
tuple(l)

('1', '2', '3', '4')

29. Convert a tuple of strings to a tuple of integers.

In [14]:
t = ('1', '2', '3', '4')
l = []
for i in t:
    l.append(int(i))
tuple(l)

(1, 2, 3, 4)

30. Merge two tuples.

In [15]:
t1 = (1,2)
t2 = (3,4)
t1 + t2

(1, 2, 3, 4)

31. Flatten a nested tuple.

In [18]:
t=((1,2,3),(2,3,4))
l = []
for i in t:
    for j in i:
        l.append(j)
tuple(l)

(1, 2, 3, 2, 3, 4)

32. Create a tuple of the first 5 prime numbers.

In [21]:
import sympy

prime = sympy.primerange(0,6)
tuple(prime)

(2, 3, 5)

33. Check if a tuple is a palindrome.

In [22]:
t = (1,2,3,2,1)
if t[::1] == t[::-1]:
    print("given tuple is palindrome")
else:
    print("Not a palindrome")

given tuple is palindrome

34. Create a tuple of squares of numbers from 1 to 5.

In [26]:
t = (1,2,3,4,5)
sq = (x**2 for x in t)
tuple(sq)

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [30]:
t = (1,2,3,4,5,6,7,8,9)
even = [x for x in t if x % 2 == 0]
tuple(even)

(2, 4, 6, 8)

36. Multiply all elements in a tuple by 2.

In [31]:
t =(1,2,3,4,5,6)
mul = [x*2 for x in t]
tuple(mul)

(2, 4, 6, 8, 10, 12)

37. Create a tuple of random numbers.

In [39]:
import random

ran = ( random.randint(1,100) for i in range(10) )
tuple(ran)

(91, 37, 56, 6, 82, 85, 81, 23, 32, 86)

38. Check if a tuple is sorted.

In [41]:
t = (1, 2, 3, 4, 5)
# check if tuple is sorted
print(t == tuple(sorted(t)))

True

39. Rotate a tuple to the left by `n` positions.

In [47]:
t = (1,2,3,4,5)
n = 2
print(t[n:] + t[:n])

(3, 4, 5, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [53]:
t = (1,2,3,4,5)
n=2

print(t[-n:] + t[:-n])

(4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [57]:
x = 0
y = 1
l=[]
for i in range(5):
    z = x + y
    
    x = y
    y = z
    z
print(x,y,tuple(l))

5 8

42. Create a tuple from user input.

In [9]:
User = input("Enter a tuple:" )
a  =  User.split(',')
print(tuple(a))

Enter a tuple: 1,2,3,4,5

('1', '2', '3', '4', '5')

43. Swap two elements in a tuple.

In [13]:
t = (1,2,3,4,5)

t = list(t)

temp = t[1]

t[1] = t[0]

t[0] = temp

t

[2, 1, 3, 4, 5]

44. Reverse the elements of a tuple.

In [15]:
t = (1,2,3,4)
t = list(t)
t.reverse()
t

[4, 3, 2, 1]

45. Create a tuple of the first `n` powers of 2.

In [17]:
n = int(input())
powers_of_2 = tuple([2**n for n in range(0,n+1)])
powers_of_2

 5

(1, 2, 4, 8, 16, 32)

46. Find the longest string in a tuple of strings.

In [18]:
t = ('sai','kumar','saikumar')

max_string = max(t,key=len)
max_string

'saikumar'

47. Find the shortest string in a tuple of strings.

In [19]:
t = ('sai','kumar','saikumar')

min_string = min(t,key=len)
min_string

'sai'

48. Create a tuple of the first `n` triangular numbers.

In [5]:
n = 3

triangular_num = tuple([(i*(i+1)) // 2 for i in range(1,n+1)])
triangular_num

(1, 3, 6)

49. Check if a tuple contains another tuple as a subsequence.

In [7]:
t1 = (1,2,3,4,5)

t2 = (2,3,4)

result = set(t2).issubset(t1)
result

True

50. Create a tuple of alternating 1s and 0s of length `n`.

In [11]:
n = 10

[1 if i %2 == 0 else 0 for i in range(1,n+1)]

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [29]:
s = set(range(1,6))
s

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [30]:
s.add(6)

In [31]:
s

{1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [32]:
s.remove(6)

In [33]:
s

{1, 2, 3, 4, 5}

4. Check if an element exists in a set.

In [37]:
if 10 in s:
    print("yes")
else:
    print("no")

no

5. Find the length of a set without using the `len()` function.

In [39]:
s = {1,2,3,4,5,6,7,8,9}
length = 0
for i in s:
    length = length + 1
length

9

6. Clear all elements from a set.

In [40]:
s.clear()
s

set()

7. Create a set of even numbers from 1 to 10.

In [41]:
even = {x for x in range(2,11,2)}
even

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [2]:
odd = {x for x in range(1,12,2)}
odd

{1, 3, 5, 7, 9, 11}

9. Find the union of two sets.

In [3]:
s1 = {1,2,3}
s2 = {12,3,4,5,6,7}

s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 12}

10. Find the intersection of two sets.

In [5]:
s2.intersection(s1)

{3}

11. Find the difference between two sets.

In [10]:
s1 = {1,2,3,6}
s2 = {1,2,3,4,5}

print(s1.difference(s2))
print(s2.difference(s1))

{6}
{4, 5}

12. Check if a set is a subset of another set.

In [14]:
s1 = {1,2,3}
s2 = {1,2,3,4,5}
s1.issubset(s2)

True

13. Check if a set is a superset of another set.

In [16]:
s1 = {1,2,3}
s2 = {1,2,3,4,5}
s2.issuperset(s1)

True

14. Create a set from a list.

In [18]:
list = [1,2,3,4,5,5,6,6,7]

s = set(list)
s

{1, 2, 3, 4, 5, 6, 7}

15. Convert a set to a list.

In [22]:
s = {1, 2, 3, 4, 5, 6, 7}
l = []
for i in s:
    l.append(i)
l

[1, 2, 3, 4, 5, 6, 7]

16. Remove a random element from a set.

In [2]:
s = {1, 2, 3, 4, 5, 6, 7}
import random
random_element = random.choice(list(s))
s.remove(random_element)
s

{1, 2, 3, 5, 6, 7}

17. Pop an element from a set.

In [5]:
s = {1, 2, 3, 4, 5, 6, 7}
s.pop()

1

18. Check if two sets have no elements in common.

In [7]:
s1 ={3,4}
s2 ={1,2,7,8}

if not s1.intersection(s2):
    print("No common elements present")
else:
    print("common elements present")

No common elements present

19. Find the symmetric difference between two sets.

In [8]:
s1 ={1,2,3,4}
s2 ={1,2,7,8}
s1^s2

{3, 4, 7, 8}

20. Update a set with elements from another set.

In [9]:
s1 ={1,2,3,4}
s2 ={1,2,7,8}

s1.update(s2)
s1

{1, 2, 3, 4, 7, 8}

21. Create a set of the first 5 prime numbers.

In [2]:
import sympy

a = sympy.primerange(1,12
                    )
set(a)

{2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [5]:
s1 ={1,2,3,4}
s2 ={1,2,7,8}

if s1 == s2:
    print("identical")
else:
    print("not identical")

not identical

23. Create a frozen set.

In [8]:
s1 ={1,2,3,4}

FS = frozenset(s1)
FS

frozenset({1, 2, 3, 4})

24. Check if a set is disjoint with another set.

In [9]:
s1 ={1,2,3,4}
s2 ={1,2,7,8}

s1.isdisjoint(s2)

False

25. Create a set of squares of numbers from 1 to 5.

In [1]:
s = {1,2,3,4}
sq = [x**2 for x in s]
sq

[1, 4, 9, 16]

26. Filter out all even numbers from a set.

In [2]:
s = {1,2,3,4}

even = [x for x in s if x % 2 == 0]
even

[2, 4]

27. Multiply all elements in a set by 2.

In [3]:
s = {1,2,3,4}

mul = [x*2 for x in s]
mul

[2, 4, 6, 8]

28. Create a set of random numbers.

In [9]:
import random
a = set()
for i in range(5):
    rand_num = random.randint(1,100)
    a.add(rand_num)
a

{15, 29, 52, 86, 89}

29. Check if a set is empty.

In [15]:
set0 = set()

if not set0:
    print("empty")
else:
    print("Not Empty")

empty

30. Create a nested set (hint: use frozenset).

In [18]:
s = {1,2,3,4,frozenset({7,8,9})}
s

{1, 2, 3, 4, frozenset({7, 8, 9})}

31. Remove an element from a set using the discard method.

In [21]:
s = {1,2,3,4}

s.discard(3)
s

{1, 2, 4}

32. Compare two sets.

In [26]:
s1 = {1,2,3,4}
s2 = {5,6,7,8}

print(s1.issubset(s2))
print(s1.issuperset(s2))
print(s1.union(s2))
print(s1.difference(s2))
print(s1.intersection(s2))
print(s1.isdisjoint(s2))
print(s1.symmetric_difference(s2))

False
False
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4}
set()
True
{1, 2, 3, 4, 5, 6, 7, 8}

33. Create a set from a string.

In [27]:
name = 'saikumar'
set(name)

{'a', 'i', 'k', 'm', 'r', 's', 'u'}

34. Convert a set of strings to a set of integers.

In [28]:
string_set = {"123", "456", "789"}

int_set = {int(x) for x in string_set}

int_set

{123, 456, 789}

35. Convert a set of integers to a set of strings.

In [29]:
int_set = {123, 456, 789}
str_set = {str(x) for x in int_set}
str_set

{'123', '456', '789'}

36. Create a set from a tuple.

In [30]:
t = (1,2,3,4,5)
set(t)

{1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [31]:
s = {1,2,3,4}
tuple(s)

(1, 2, 3, 4)

38. Find the maximum value in a set.

In [1]:
s = {1,2,3,4}
max(s)

4

39. Find the minimum value in a set.

In [2]:
s = {1,2,3,4}
min(s)

1

40. Create a set from user input.

In [1]:
user_set = set()

while True:
    inp = input("Enter the values:")
    
    if not inp:
        break
    
    user_set.add(inp)
user_set

Enter the values: 1,2,3
Enter the values:

{'1,2,3'}

41. Check if the intersection of two sets is empty.

In [2]:
s1 = {1,2,3}

s2 = {5,6,7}

if not s1.intersection(s2):
    print("Empty")
else:
    print("Not Empty")

Empty

42. Create a set of the first 5 Fibonacci numbers.

In [19]:
x = 0
y = 1
Fib = set()
Fib.add(x)
Fib.add(y)

for i in range(4):
    z = x + y
    x = y
    y = z
    Fib.add(z)
Fib

{0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [21]:
l = [1,1,1,2,2,2,3,3,4,4,5,6,7,4,5,6,7]

s = set(l)

l = list(s)

l

[1, 2, 3, 4, 5, 6, 7]

44. Check if two sets have the same elements, regardless of their count.

In [28]:
s1 = {1,2,3,2,1}
s2 = {1,2,3}

l1 = sorted(list(s1))
l2 = sorted(list(s2))

if l1 == l2:
    print("have common elements")
else:
    print("don't have common elements")

have common elements

45. Create a set of the first `n` powers of 2.

In [27]:
n = 4

powers = [2**i for i in range(n)]
powers

[1, 2, 4, 8]

46. Find the common elements between a set and a list.

In [29]:
s = {1,2,3,4,5,6}

l = [1,2,3,4,5]

s.intersection(set(l))

{1, 2, 3, 4, 5}

47. Create a set of the first `n` triangular numbers.

In [34]:
n = 5
[i*(i+1) // 2 for i in range(1,n+1)]

[1, 3, 6, 10, 15]

48. Check if a set contains another set as a subset.

In [35]:
s1 = {1,2,3}
s2 ={1,2}

s2.issubset(s1)

True

49. Create a set of alternating 1s and 0s of length `n`.

In [41]:
n = 6
s = set()
for i in range(1,n+1):
    if i % 2 != 0:
        s.add(0)
    else:
        s.add(1)
s

{0, 1}

50. Merge multiple sets into one.

In [44]:
s1 ={1,2,3}
s2={4,5,6}
s3={9,8}

merged_set = s1.union(s2,s3)
merged_set

{1, 2, 3, 4, 5, 6, 8, 9}